---
import DocsLayout from "@/layouts/docsLayout.astro";
import {BookMarkedIcon} from "lucide-react";
import { Item, ItemContent, ItemActions, ItemTitle } from "@/components/ui/item";
import MainLayout from "@/layouts/mainLayout.astro";
import { ChevronRight } from "lucide-react";
import {getCollection, render} from 'astro:content';

const docs = await getCollection('docs');

---

<MainLayout>
    <div class="p-3">
        <div class="flex items-center gap-x-1">
            <BookMarkedIcon className="inline" />
            <h1 class="text-3xl">Documentation</h1>
        </div>
        <br />
        <div class="grid grid-cols-3 gap-2">
        {docs.map((doc) => (
                    <a href={'/docs/'+doc.id}>
                        <Item variant={"outline"} className="hover:bg-accent duration-100 animate-in rounded-lg">
                            <ItemContent>
                                {doc.data.title}
                            </ItemContent>
                            <ItemActions>
                                <ChevronRight className="size-sm" />
                            </ItemActions>
                        </Item>
                    </a>
            ))}
        </div>
    </div>
</MainLayout>

