---
import DocsLayout from "@/layouts/docsLayout.astro";
import {BookMarkedIcon} from "lucide-react";
import Cell from "@/components/cell.tsx";
import MainLayout from "@/layouts/mainLayout.astro";
import { getCollection } from 'astro:content';

const docs = await getCollection('docs');

---

<MainLayout>
    <div class="p-3">
        <div class="flex items-center gap-x-1">
            <BookMarkedIcon className="inline" />
            <h1 class="text-3xl">Documentation</h1>
        </div>
        <br />
        <div class="prose">
        <ul>
        {docs.map((doc) => (
                <li>
                    <a href={'/docs/'+doc.id}>{doc.data.title}</a>
                </li>
            ))}
        </ul>
        </div>
    </div>
</MainLayout>

