---
import MainLayout from "@/layouts/mainLayout.astro";
import {Sparkles} from "lucide-react";
---

<MainLayout>
    <div class="">
        <div class="flex items-center gap-x-1 p-3">
            <Sparkles className="inline" />
            <h1 class="text-3xl">About</h1>
        </div>


    </div>
</MainLayout>
