---
import '@/styles/global.css'
import Header from "@/components/header.astro";
import { SquareFunctionIcon, ArrowDownToLineIcon, BookMarkedIcon, GithubIcon, CodeIcon } from 'lucide-react';
import {Button} from "@/components/ui/button.tsx";

const buttons = [
    {text:'Install',link:'/install', icon:ArrowDownToLineIcon},
    {text:'Docs',link:'/docs',icon:BookMarkedIcon},
    {text:'GitHub',link:'https://github.com/CaseyMasonek/marigold',icon:GithubIcon},
    {text:'Playground',link:'/playground', icon:CodeIcon},
]
---

<script>
    import {gsap} from "gsap";
    import { SplitText } from "gsap/SplitText";
    import  { ScrollTrigger } from "gsap/ScrollTrigger";
    import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";

    gsap.registerPlugin(SplitText);
    gsap.registerPlugin(ScrollTrigger)
    gsap.registerPlugin(DrawSVGPlugin);

    gsap.from("#title",{opacity:0})

    SplitText.create("#title", {
        type: "chars",
        autoSplit: true,
        onSplit: (self) => {
            return gsap.from(self.chars, {
                opacity: 0,
                stagger: 0.1
            }).then(() => {
                gsap.to(".after-title",{opacity: 1,duration:1})
                gsap.to(".after-subtitle",{opacity: 1,duration:1,stagger: .1})
            })
        }
    });

    gsap.to("#about",{
        scrollTrigger: "#scroll-area-1",
        opacity: 1,
    })

    gsap.from(".logo",{
        drawSVG: false,
        duration: 2,
    })
</script>

<style lang="sass">
    .after-subtitle
      opacity: 0
</style>

<div class="h-screen w-full flex justify-center items-center">
    <div class="flex flex-col justify-center items-center">
    <div class="items-center flex flex-col">
        <h1 class="text-7xl font-logo font-black mb-1" id="title">Marigold</h1>
        <h2 class="text-xl opacity-0 after-title">cool tagline</h2>
    </div>
    <div class="absolute bottom-[25vh] w-full flex justify-center items-center">
        <div class="flex flex-row justify-around items-center w-[40%]">
            <a href="/install">
                <Button variant="outline" className="after-subtitle">
                    <ArrowDownToLineIcon />
                    Installation
                </Button>
            </a>

            <a href="/docs">
                <Button variant="outline" className="after-subtitle">
                    <BookMarkedIcon />
                    Documentation
                </Button>
            </a>
            <a href="https://github.com/CaseyMasonek/marigold">
                <Button variant="outline" className="after-subtitle">
                    <GithubIcon />
                    GitHub
                </Button>
            </a>
            <a href="/playground">
                <Button variant="outline" className="after-subtitle">
                    <CodeIcon />
                    Playground
                </Button>
            </a>
        </div>
    </div>
    </div>
</div>
<div class="h-screen w-full bg-accent p-3 fixed opacity-0" id="about">
    <h2 class="text-5xl w-full text-center mt-4">What is Marigold?</h2>
    <div class="grid grid-cols-2 grid-rows-2">
        <div class="w-1/2 h-[30vh]">
            <div class="flex flex-row items-center gap-1">
                <SquareFunctionIcon />
                <h3 class="text-3xl">Functional</h3>
            </div>
            <p>Since Marigold is built on &lambda;-Calculus, everything in it is a function, including numbers, booleans, or
                any other datatype. As a core design philosophy, Marigold uses many patterns used in pure lambda calculus,
                while making modifications to ensure readability.</p>
        </div>
    </div>
</div>