---
import MainLayout from "@/layouts/mainLayout.astro";
import {ArrowDownToLineIcon} from "lucide-react";
---

<MainLayout>
    <div class="p-3">
        <div class="flex items-center gap-x-1">
            <ArrowDownToLineIcon className="inline" />
            <h1 class="text-3xl">Installation Guide</h1>
        </div>
        <br />
        <p>Lorem ipsum</p>
    </div>
</MainLayout>