---
import "@docsearch/css"

const {
    PUBLIC_ALGOLIA_APP_ID,
    PUBLIC_ALGOLIA_API_KEY,
    PUBLIC_ALGOLIA_INDEX_NAME,
} = import.meta.env
---

<div
        id="docsearch"
        data-app-id={PUBLIC_ALGOLIA_APP_ID}
        data-api-key={PUBLIC_ALGOLIA_API_KEY}
        data-index-name={PUBLIC_ALGOLIA_INDEX_NAME}
></div>

<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@4"></script>
<script>
    import {$theme} from "@/store/theme";
    import docsearch from "@docsearch/js";

    const el = document.getElementById('docsearch');

    $theme.subscribe((theme) => {
        console.log(theme);

        docsearch({
            container: '#docsearch',
            appId: el.dataset.appId,
            apiKey: el.dataset.apiKey,
            indexName: el.dataset.indexName,
            theme: theme === "dark" ? "dark" : "light",
        });
    })

    docsearch({
        container: "#docsearch",
        appId: el.dataset.appId,
        apiKey: el.dataset.apiKey,
        indexName: el.dataset.indexName,
        theme: document.documentElement.classList.contains("dark")
            ? "dark"
            : "light",
    });
</script>
